body {
	padding: 0;
}


.class {
	max-width: 320px;
	background-color: #CAFE00;
	padding: 5px;
	margin: 5px;
	line-height: 35px;
}

.class > .nameContainer {
	border: 1px solid #CCC;
	background-color: #DDD;
}




.function {
	background-color: #EEE;
	border: 1px solid #CCC;
	padding: 5px;
	margin-left: 30px;
	line-height: normal;
}

.function > .nameContainer {
	background-color: #DDD;
	border: 1px solid #CCC;
	margin-right: 5px;
	padding: 5px;
	display: inline-block;
}

.function > #parameterContainer {
	display: inline-block;	
}





.parameter {
	background-color: #77EEFF;
	border: 1px solid #CCC;
	margin-right: 5px;
	padding: 5px;
	display: inline-block;
}